@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.bubble.user {
  border-radius: 20px;
  background-color: #E1F4FFFF;
  margin-left: auto;
}

.bubble.assistant {
  border-radius: 20px 20px 20px 0;
  background-color: #dce7ff;
}

.prompt-suggestion-row {
  width: 100%;
}

.prompt-suggestion-button {
  margin: 8px;
  padding: 8px;
  font-size: 15px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  color: #383838;
  box-shadow: #959da533 0 8px 24px;
}

.loader {
  margin: 10px;
  width: 60px;
  aspect-ratio: 4;
  background:
    no-repeat radial-gradient(circle closest-side, #383838 90% #0000) 0 50%, no-repeat radial-gradient(circle closest-side, #383838 90% #0000) 50% 50%, no-repeat radial-gradient(circle closest-side, #383838 90% #0000) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  33% {
    background-size: calc(100%/3) 0, calc(100%/3) 100%, calc(100%/3) 100%;
  }

  50% {
    background-size: calc(100%/3) 100%, calc(100%/3) 0, calc(100%/3) 100%;
  }

  66% {
    background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0;
  }
}